* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1b264f; /* crisp white background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* subtle shadow for depth */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
  color: #ffffff;
}

.navbar nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #ffffff; /* slightly darker for better contrast */
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.navbar nav a:hover,
.navbar nav a:focus {
  color: #f5c1bc; /* Umbraco blue accent */
  outline: none;
}

.navbar nav a.active {
  color: #f5c1bc;
  border-bottom: 2px solid #f5c1bc;
}


.footer {
  background-color: #283a97;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 0.9rem;
  color: #ffffff;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}


